input.form-submit {
  background: $wvu-gold;
  color: $wvu-blue;
  border-color: $wvu-gold;
  position: relative;
  padding: 0.48em 1em;
  border-radius: 0;
  margin-left: 0.4em;
}

.views-exposed-form form{
  display: flex;
}