<div id="tuition-calc" class="tuition-calc"
     data-non-res-uni-tuition={{ non_res_uni_tuition }}
     data-res-university-tuition={{ res_uni_tuition }}
     data-non-res-uni-fee={{ non_res_uni_fee }}
     data-res-uni-fee={{ res_uni_fee }}
></div>
