.card {
  box-shadow: 0 3px 7px 0 $gray;
  padding: 1em;

  &__title {
    @include heading-large($font-size: 1.3rem);
    @include no-bottom;

    &-link {
      @include link;
    }
  }

  &__subtitle {
    @include heading-medium($font-size: 1rem);
    @include no-bottom;

    color: $gray;
  }

  &__body {
    margin: 0.7em 0 1em;
  }

  &__link {
    @include link;
  }

  &__button {
    @include button;
  }

  // Variations
  &--bg {
    background-color: $gray-lightest;
    padding: 1em;
  }
}
