.card {
  box-shadow: 0 3px 7px 0 $gray;
  padding: 1em;

  &__title {
    @include heading-large($font-size: 1.1rem);
    @include no-bottom;

    &-link {
      @include link;
    }
  }

  &__subtitle {
    @include heading-medium($font-size: 1rem);
    @include no-bottom;

    color: $gray;
  }

  &__body {
    margin: 0.7em 0 1em;
  }

  &__link {
    @include link;
  }

  &__button {
    @include button;
  }

  // Variations
  &--bg {
    background-color: $gray-lightest;
    padding: 1em;
  }

  &--alt {
    display: grid;
    grid-template-areas: "a";
    padding: 0;
    align-items: end;
    background: $wvu-blue;
    //justify-items: center;
    .card__title {
      text-transform: uppercase;
      color: $white;

      a {
        color: $white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .card__copy {
      grid-column: a;
      grid-row: 1 / -1;
      background: transparentize($black, 0.2);
      text-align: center;
      height: 6em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card__image,
    .card__img {
      width: 100%;
      min-height: 300px;
      object-fit: cover;
      grid-column: a;
      grid-row: 1 / -1;

      img {
        width: 100%;
        min-height: 300px;
        object-fit: cover;
        grid-column: a;
        grid-row: 1 / -1;
      }
    }
    .card__image {


    }
  }
}
