.spotlights {
  @include full-width;

  padding: 6em 0;
  background:
  linear-gradient(
                  rgba(255,255,255, 0.6),
                  rgba(255,255,255, 0.6)
  ),
  url('/themes/custom/wvuonline2018/images/BackgroundForProgramPageTabs.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    grid-gap: 2em;
    padding: 0 $space;
  }
}

.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 3px 7px 0 $gray;
  background: $white;

  &__header {
    width: 100%;
    background: $wvu-blue;
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    justify-content: flex-end;

    &--blue {
      background: url("../images/background__blue--1.0.0.svg") no-repeat $wvu-blue;
      background-size: cover;
    }

    &--gold {
      background: url("../images/background__gold--1.0.0.svg") no-repeat $wvu-gold;
      background-size: cover;
    }

    &--black {
      background: url("../images/background__black--1.0.0.svg") no-repeat $black;
      background-size: cover;
    }
  }

  &__h2 {
    width: 50%;
    font-size: 2.2em;
    text-transform: uppercase;
    line-height: 0.75;
    font-weight: 900;
    letter-spacing: -2px;
    font-family: $font-heading;

    &--blue,
    &--black {
      color: $white;
    }

    &--gold {
      color: $wvu-blue;
    }
  }

  &__container {
    display: flex;
    min-height: 450px;
    padding: 0 2em;
  }

  &__info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    margin-top: calc(-100px - 3em);

    img {
      border-radius: 50%;
      //margin-bottom: 3em;
      width: 100%;
      height: auto;
      object-fit: cover;
      max-width: 200px;
    }

    @include small {
      width: 40%;
    }

    //@include medium {
    //  margin-top: -5em;
    //}
    //
    //@include small {
    //  margin-top: -9em;
    //}
  }

  &__name {
    height: 180px;
  }

  &__body {
    margin-left: 2em;

    @include small {
      width: 55%;
    }
  }

  &__title {
    text-transform: uppercase;
    color: $wvu-blue;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1.6em;

    @include small {
      //margin-top: 150px;
    }
  }

  &__subtitle {
    width: 100%;
    height: 60px;
  }

  &__img {
    border-radius: 50%;
    //margin-bottom: 3em;
    max-width: 200px;
  }

  &__link {
    @include button($wvu-blue, $white, $white, $wvu-blue);

    border: 2px solid;

    &:hover {
      @extend .u-wvu-blue;
    }
  }
}
