.profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: 0 3px 7px 0 $gray;

  > * {
    //width: 100%;
    //padding: 0 1.5em;

    //@include small {
    //  width: 50%;
    //}
  }

  &__header {
    width: 100%;
    height: 145px;
    background: $wvu-blue;
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;

    @include small {
      padding-left: calc(50% + 1.6em);
    }

    &--blue {
      background: url("../images/background__blue--1.0.0.svg") no-repeat $wvu-blue;
      background-size: cover;
    }

    &--gold {
      background: url("../images/background__gold--1.0.0.svg") no-repeat $wvu-gold;
      background-size: cover;
    }
  }

  &__h2 {
    width: 50%;
    font-size: 3em;
    text-transform: uppercase;
    line-height: 0.75;
    font-weight: 900;
    letter-spacing: -2px;
    font-family: $font-heading;

    &--blue {
      color: $white;
    }

    &--gold {
      color: $wvu-blue;
    }
  }

  &__container {
    display: flex;
    height: 450px;
    padding: 0 2em;
  }

  &__info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    margin-top: calc(-100px - 3em);

    @include small {
      width: 40%;
    }

    //@include medium {
    //  margin-top: -5em;
    //}
    //
    //@include small {
    //  margin-top: -9em;
    //}
  }

  &__name {
    height: 180px;
  }

  &__body {
    margin-left: 2em;

    @include small {
      width: 55%;
    }
  }

  &__title {
    text-transform: uppercase;
    color: $wvu-blue;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;

    @include small {
      //margin-top: 150px;
    }
  }

  &__subtitle {
    width: 100%;
    height: 60px;
  }

  &__img {
    border-radius: 50%;
    //margin-bottom: 3em;
    max-width: 200px;
  }

  &__button {
    @include button($wvu-blue, $white, $white, $wvu-blue);

    border: 2px solid;

    &:hover {
      @extend .u-wvu-blue;
    }
  }
}
