@import '../../00-base/01-variables';
@import '../../00-base/layouts/grid/grid';
@import '../../00-base/layouts/grid/01-grid-item';

.link_grid {
  @include grid;
  text-align: center;
  justify-content: center;
  align-content: center;

  .grid__item {
    @include grid-item($columns: 2);
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 !important;
    background: transparentize($wvu-blue, 0.2);
    border: 1px solid white;
    color: $white;
    font-size: 2.7em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font-heading;
    font-weight: normal;
    line-height: 0.8;

    &:hover {
      background: transparentize($wvu-blue, 0.5);
    }
    a {

    }
    .yellow-text {
      width: 100%;
      color: $wvu-gold;
      font-size: 55%;
    }
  }
}

.big-link {
  @include full-width;
  background: url('/themes/custom/wvuonline2018/images/BackgroundForHomepageDegreeButtons.jpg') center center;
  background-size: cover;
}