.inline-menu {
  @include list-reset;
}

.inline-menu__item {
  margin: 0 1em 0.5em 0;

  @include large {
    display: inline;
    margin-bottom: 1em;
  }

  &:last-child {
    margin-right: 0;
  }
}

.inline-menu__link {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__cta-buttons {
  @include list-reset;
  display: flex;

  &__item {
    .menu__cta-buttons__link {
      color: $white;
      display: block;
      font-size: 1.1rem;
      line-height: 1.5;
      padding: $space;
      text-decoration: none;
    }
    &:nth-child(1) {
      .menu__cta-buttons__link {
        background: $wvu-gold;
        color: $wvu-blue;
        border: none;
        &:hover {
          color: $wvu-gold;
          background: $wvu-blue;
        }
      }
    }
    &:nth-child(2) {
      .menu__cta-buttons__link {
        background: $pms-300-c;
        &:hover {
          background: $wvu-blue;
        }
      }
    }
  }
}