@import "mixins";

$min_width: 20em;
$max_width: 75em;
$min_font: 10px;
$max_font: 24px;

html {
  font-size: calc(13px + 4 * (100vw - 320px) / 1046);

  @include xl {
    font-size: 18px;
  }
}

.wrapper {
  @include wrapper;
}

.node {
  //@include full-width;
}
