@import "mixins";

$min_width: 320px;
$max_width: 75em;
$min_font: 12px;
$max_font: 18px;

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.wrapper {
  @include wrapper;
}

.node {
  //@include full-width;
}
