@import "global/01-colors/color-vars";
/////////////////////
// General Mixins (put specific ones in component files where applicable)

/// Mixin - Clearfix.
/// Adds clearfix based on http://bourbon.io/docs/#clearfix
/// use example =   @include cleafix

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

/// Mixin - list-reset
/// Reset list item defaults when no margin, padding, list styles needed
@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

/// Mixin - With Icon
/// Precede Text with SVG icon
@mixin with-icon {
  background-size: cover;
  content: "";
  display: inline-block;
  margin-right: 0.1em;
  padding: 0.8em;
}

/// Mixin - Wrapper
/// Outer container mixin for large screens
@mixin wrapper {
  margin: 0 auto;
  max-width: $max-width;

  @include clearfix;
}

/// Mixin - More Link
/// Used in a number of views
@mixin more-link {
  a {
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;

    &::before {
      content: "»";
      font-size: 1.2rem;
      margin-right: 0.2em;
    }
  }
}

/// Mixin - Back Link
/// Used in a number of views
@mixin back-link {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  text-decoration: none;

  &::before {
    content: "«";
    font-size: 1.2rem;
    margin-right: 0.2em;
  }
}

/// Mixin - Body Copy
@mixin body-copy {
  font-family: $font-body;
  font-size: 1em;
  line-height: 1.6em;
}

/// Mixin - Transition
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}

/// Mixin - Standard Margin
@mixin margin {
  margin-bottom: 1em;
}

// Primary
.u-wvu-blue {
  color: $wvu-blue;
  border-color: $wvu-blue;

  &.background {
    color: white;
    background-color: $wvu-blue;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin wvu-blue-background {
  color: white;
  background-color: $wvu-blue;
  -webkit-font-smoothing: antialiased;
}

.u-wvu-gold {
  color: $wvu-gold;
  border-color: $wvu-gold;

  &.background {
    color: $wvu-blue;
    background-color: $wvu-gold;
  }
}

@mixin wvu-gold-background {
  color: $wvu-blue;
  background-color: $wvu-gold;
}

//  Secondary
.u-black {
  color: $black;

  &.background {
    color: white;
    background-color: $black;
    -webkit-font-smoothing: antialiased;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: white;
    }

    .button {
      border-color: white;
    }

    a {
      &:hover {
        color: $black;
      }
    }
  }
}

@mixin black-background {
  color: white;
  background-color: $black;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white;
  }

  .button {
    border-color: white;
  }

  a {
    &:hover {
      color: $black;
    }
  }
}

.u-pms-432-c {
  color: $pms-432-c;
  border-color: $pms-432-c;

  &.background {
    color: white;
    background-color: $pms-432-c;
    -webkit-font-smoothing: antialiased;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: white;
    }

    .button {
      border-color: white;
    }

    a {
      &:hover {
        color: $pms-432-c;
        background: white;
      }
    }
  }
}

@mixin pms-432-c-background {
  color: white;
  background-color: $pms-432-c;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white;
  }

  .button {
    border-color: white;
  }

  a {
    &:hover {
      color: $pms-432-c;
      background: white;
    }
  }
}

.u-pms-429-c {
  color: $pms-429-c;
  border-color: $pms-429-c;

  &.background {
    color: $black;
    background-color: $pms-429-c;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: $black;
    }

    hr {
      border-bottom-color: $pms-432-c;
    }
  }
}

@mixin pms-429-c-background {
  color: $black;
  background-color: $pms-429-c;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: $black;
  }

  hr {
    border-bottom-color: $pms-432-c;
  }
}

.u-pms-warm-gray-11 {
  color: $pms-warm-gray-11;
  border-color: $pms-warm-gray-11;

  &.background {
    color: white;
    background-color: $pms-warm-gray-11;
    -webkit-font-smoothing: antialiased;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: white;
    }

    a {
      &:hover {
        color: $pms-warm-gray-11;
        background: white;
      }
    }
  }
}

@mixin pms-warm-gray-11-background {
  color: white;
  background-color: $pms-warm-gray-11;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white;
  }

  a {
    &:hover {
      color: $pms-warm-gray-11;
      background: white;
    }
  }
}

.u-pms-warm-gray-7 {
  color: $pms-warm-gray-7;
  border-color: $pms-warm-gray-7;

  &.background {
    color: white;
    background-color: $pms-warm-gray-7;
    -webkit-font-smoothing: antialiased;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: white;
    }

    a {
      &:hover {
        color: $pms-warm-gray-7;
        background: white;
      }
    }
  }
}

@mixin pms-warm-gray-7-background {
  color: white;
  background-color: $pms-warm-gray-7;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white;
  }

  a {
    &:hover {
      color: $pms-warm-gray-7;
      background: white;
    }
  }
}

.u-pms-warm-gray-3 {
  color: $pms-warm-gray-3;
  border-color: $pms-warm-gray-3;

  &.background {
    color: $black;
    background-color: $pms-warm-gray-3;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a {
      color: $black;
    }
  }
}

@mixin pms-warm-gray-3-background {
  color: $black;
  background-color: $pms-warm-gray-3;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: $black;
  }

  a {
    &:hover {
      color: $pms-warm-gray-3;
      background: white;
    }
  }
}

// Tertiary
.u-pms-286-c {
  color: $pms-286-c;
  border-color: $pms-286-c;

  &.background {
    color: white;
    background-color: $pms-286-c;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin pms-286-c-background {
  color: white;
  background-color: $pms-286-c;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $pms-629-c;
    }
  }
}

.u-pms-300-c {
  color: $pms-300-c;
  border-color: $pms-300-c;

  &.background {
    color: white;
    background-color: $pms-300-c;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin pms-300-c-background {
  color: white;
  background-color: $pms-300-c;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $pms-629-c;
    }
  }
}

.u-pms-629-c {
  color: $pms-629-c;
  border-color: $pms-629-c;

  &.background {
    color: $wvu-blue;
    background-color: $pms-629-c;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $wvu-blue;
    }
  }
}

@mixin pms-629-c-background {
  color: $wvu-blue;
  background-color: $pms-629-c;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: $wvu-blue;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $pms-300-c;
    }
  }
}

.u-pms-7554-c {
  color: $pms-7554-c;
  border-color: $pms-7554-c;

  &.background {
    color: white;
    background-color: $pms-7554-c;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin pms-7554-c-background {
  color: white;
  background-color: $pms-7554-c;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $pms-7557-c;
    }
  }
}

.u-pms-7557-c {
  color: $pms-7557-c;
  border-color: $pms-7557-c;

  &.background {
    color: white;
    background-color: $pms-7557-c;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin pms-7557-c-background {
  color: white;
  background-color: $pms-7557-c;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $pms-7554-c;
    }
  }
}

.u-pms-144-c {
  color: $pms-144-c;
  border-color: $pms-144-c;

  &.background {
    color: white;
    background-color: $pms-144-c;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin pms-144-c-background {
  color: $black;
  background-color: $pms-144-c;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: $black;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $pms-7476-c;
    }
  }
}

.u-pms-7476-c {
  color: $pms-7476-c;
  border-color: $pms-7476-c;

  &.background {
    color: white;
    background-color: $pms-7476-c;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin pms-7476-c-background {
  color: white;
  background-color: $pms-7476-c;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: $white;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $pms-5625-c;
    }
  }
}

.u-pms-5625-c {
  color: $pms-5625-c;
  border-color: $pms-5625-c;

  &.background {
    color: white;
    background-color: $pms-5625-c;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin pms-5625-c-background {
  color: white;
  background-color: $pms-5625-c;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $pms-558-c;
    }
  }
}

.u-pms-558-c {
  color: $pms-558-c;
  border-color: $pms-558-c;

  &.background {
    color: white;
    background-color: $pms-558-c;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin pms-558-c-background {
  color: $black;
  background-color: $pms-558-c;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: $black;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $pms-5625-c;
    }
  }
}

.u-pms-180-c {
  color: $pms-180-c;
  border-color: $pms-180-c;

  &.background {
    color: white;
    background-color: $pms-180-c;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin pms-180-c-background {
  color: white;
  background-color: $pms-180-c;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $pms-115-c;
    }
  }
}

.u-pms-166-c {
  color: $pms-166-c;
  border-color: $pms-166-c;

  &.background {
    color: white;
    background-color: $pms-166-c;
    -webkit-font-smoothing: antialiased;
  }
}

@mixin pms-166-c-background {
  color: white;
  background-color: $pms-166-c;
  -webkit-font-smoothing: antialiased;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: white;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $pms-115-c;
    }
  }
}

.u-pms-115-c {
  color: $pms-115-c;
  border-color: $pms-115-c;

  &.background {
    color: black;
    background-color: $pms-115-c;
  }
}

@mixin pms-115-c-background {
  color: $black;
  background-color: $pms-115-c;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: $black;
  }

  a {
    text-decoration: underline;

    &:hover {
      color: $pms-166-c;
    }
  }
}
