@import "../../00-base/global/01-colors/color-vars";
@import "../../00-base/mixins";

.tabbed {
  @include full-width;

  background: $pms-5625-c;
  @include medium {
    padding: 2em 0;
  }

  &__list {
    display: flex !important;
    font-size: 50%;
    list-style: none;
    padding: 0;
    flex-direction: row;

    @include large {
      flex-direction: row;
      width: 100%;
    }
  }

  &__item {
    flex: 1 0;
    text-align: center;
    margin-right: 1px;
    border-bottom: 1px solid $white;

    &:last-of-type {
      margin-right: 0;
    }

    @include large {
      flex: 1 0;
      margin-right: 5px;


      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__link {
    border: none;
    border-top: 4px solid transparent;
    top: 0;
    padding: 0.2em !important;
    display: flex !important;
    flex-direction: column;
    height: 100%;
  }

  &__content {
    background: $white;
    padding: 1em 5%;
    box-shadow: #000 0 2px 1px 0;

    h2 {
      margin-bottom: 1.2em;
    }

  }
}

[aria-selected="true"].tabbed__link {
  color: $black;
  background: $white;
  border-top: 4px $wvu-blue solid !important;
}

[aria-hidden="true"].tabbed__content {
  display: none;
}
