// Responsive Video using CSS only
.video {
  height: 0;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 56.25%; // 56.25% = 16x9
  position: relative;

  &--full {
    padding-bottom: 75%; // 75% = 4x3
  }

  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.block__rel_video_block {
  @include full-width;
  background: url('/themes/custom/wvuonline2018/images/background__white--1.0.0.svg');
  background-size: cover;
  //padding: 3em;

  .featured-video {
    display: flex;
    justify-content: center;
    &__video {
      display: flex;
      justify-content: center;
      padding: 6em 5em;
    }

    .views-row {


    }
  }
}

.video-embed-field-responsive-video {
  flex: 1;
  width: 80%;
}