$breadcrumb-active: #bbb;

#block-breadcrumbs-2 {
  background: rgba(44, 42, 41, 0.5);
  opacity: 0.9;
}

.breadcrumb {
  @include list-reset;
  @include wrapper;
  margin-top: -2em;
}

.breadcrumb__item,
.breadcrumb__link,
.breadcrumb__link:link,
.breadcrumb__link:visited,
.breadcrumb__link:focus {
  color: $white;
  text-decoration: none;
}

.breadcrumb__link:hover {
  color: $wvu-gold;
}

.breadcrumb__item {
  display: inline-block;
  font-size: 0.9rem;

  &::after {
    content: "/";
  }

  &:last-child {
    color: $breadcrumb-active;

    &::after {
      content: "";
    }
  }
}

.breadcrumb_link:active {
  color: $breadcrumb-active;
}
