<div class="overlay"></div>
{% include "@organisms/hero/hero.twig" with {
    "title": hero_title
} %}
<div class="section-2">
    <div class="cost-calc">
        <h2>What Does It Cost?</h2>
        {% include "@atoms/06-buttons/01-button.twig" with {
            button_content: button_content
        } %}
    </div>
    {% include "@organisms/hobsons-form/hobsons-form.twig" %}
</div>
<div class="section-3">
        {% include "@organisms/tabbed-content/tabbed-content.twig" with {
            tabbedItems: tab_items
        }%}


</div>
<div class="section-4">
    {% for keys, profile in profiles %}
        {% include "@molecules/profile/profile.twig" with {
            profile_type: profile.profile_type,
            profile_header_modifiers: profile.profile_header_modifiers,
            profile_img_src: profile.profile_img_src,
            profile_img_alt: profile.profile_img_alt,
            profile_name: profile.profile_name,
            profile_role: profile.profile_role,
            profile_link: profile.profile_link,
            profile_button_text: profile.profile_button_text,
            profile_body_short: profile.profile_body_short
        }%}
    {% endfor %}
</div>
<div id="dialog">
    {% include "@organisms/tuition-calc/tuition-calc.twig" %}
</div>
