.block__rel-hero {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

}

.wvu-hero {
  width: 100vw;
  //max-height: 100vh;
  //min-height: 600px;
  //background-size: cover;
  background-color: $wvu-blue;
  position: relative;

  img {
    //width: 100%;
    //height: 100%;
    //object-fit: cover;
    //object-position: 70%;
  }

  .wvu-hero__copy {
    margin: 0 auto 2em;
    max-width: 75em;
    color: $white;

    h1 {
      text-shadow: 1px 1px 1px #000;
      font-size: 2.6em;
      margin-top: 0.8em;
      line-height: 0.80487em;
      color: white;
      text-transform: uppercase;
      font-weight: normal;
      font-family: "HelveticaNeueW01-97Blac", "Helvetica Neue", Helvetica, "Helvetica LT Std", "Helvetica CY", Arial, "Lucida Grande", sans-serif;

      @include small {
        font-size: 3.5em;
      }

      @include medium {
        font-size: 4.5em;
      }

      &::before {
        background-color: #eaaa00;
        content: '';
        position: absolute;
        right: 0;
        left: 0;
        height: 2em;
        top: 0;
        width: 1.75em;
        opacity: 1;
        z-index: 1;
        -ms-transform: skewX(146.25deg);
        -webkit-transform: skewX(146.25deg);
        transform: skewX(146.25deg);
        @include large {
          height: 3em;
        }
      }

      span {
        display: block;
        z-index: 4;
        position: relative;
      }
    }

    p {
      color: $white;
    }
  }

  &--tall {

    .wvu-hero__copy {

      h1 {
        max-width: 6em;
      }
      .wvu-hero__body {
        max-width: 45%;
      }
    }
  }
  .wvu-hero__container {
    //position: absolute;
    //top: 0; right: 0; bottom: 0; left: 0;
    //display: flex;
    //flex-direction: column;
    //
    //align-items: flex-start;
    //justify-content: center;
    //max-width: 68em;

    margin: 0 auto;
    padding: 0 2%;
    height: 100%;
    width: 100%;
    top: 0;
    cursor: pointer;
    background: linear-gradient(
                    to right,
                    rgba(44, 42, 41, 0.4) 40%,
                    rgba(44, 42, 41, 0.2) 60%,
                    rgba(44, 42, 41, 0) 100%
    );
  }
}

[data-responsive-background-image] {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
  //width: 24%;
  //padding-bottom: 56.25% /* 16:9 ratio */
}

[data-responsive-background-image] img {
  display: none;
}

.wvu-hero--big-picture {
  .wvu-hero__container {
    padding: 4em 2%;
  }
}
