{% set modifier = 'wvu-hero--' ~ hero_size  %}
<div class="wvu-hero wvu-hero--diagonal-line wvu-hero--big-picture {{ modifier }}" style="background-image: linear-gradient(to right,
    rgba(44, 42, 41, 0.4s) 40%,
    rgba(44, 42, 41, 0.2) 60%,
    rgba(44, 42, 41, 0) 100%
    ),url({{ background_image }}); ">
  <div class="wvu-hero__container">
    <div class="wvu-hero__copy">
      <h1 class="wvu-hero__title"><span>{{ title }}</span></h1>
      {% if body %}
        <div class="wvu-hero__body">{{ body }}</div>
      {% endif %}
      {% if link %}
        {% include "@atoms/01-links/link/link.twig"
          with {
          link_url: link_url,
          link_content: link_content
        }
        %}
      {% endif %}
    </div>
  </div>
</div>