@import "../../00-base/mixins";
.section-2 {
  display: flex;
  flex-flow: wrap;

  @include full-width;

  .h-form {
    box-sizing: border-box;
    padding: 1em 2em;
    width: 100%;
    flex: 1;
    order: 1;

    @include large {
      order: 2;
      width: 50%;
      min-width: 480px;
      padding-right: calc(50vw - 600px);
    }
  }

  .cost-calc {
    box-sizing: border-box;
    flex: 1;
    min-width: 100%;
    width: 100%;
    padding: 2em;
    background: $white;
    order: 2;

    h2 {
      @extend .u-wvu-blue;
    }

    @include large {
      width: 50%;
      order: 1;
      min-width: 480px;
      padding-left: calc(50vw - 600px);
    }
  }
}

.section-3 {
}

.section-4 {
  //width: 75em;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2em 0;
  flex-flow: wrap;

  .profile {
    width: 80%;
    margin: 0 auto 1.5em;

    @include large {
      width: 45%;
    }
  }
}