.section-2 {
  display: flex;
  padding: 0 10%;
  background:
          linear-gradient(
            rgba(234, 170, 0, 0.6),
            rgba(234, 170, 0, 0.6)
          ),
          url('https://placeimg.com/2000/800/building');

  .h-form {
    width: 33%;
  }

  .cost-calc {
    width: 66%;
    margin: 1em 4em;

    h2 {
      @extend .u-wvu-blue;
    }
  }
}

.section-3 {
}

.section-4 {
  width: 75em;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2em 0;

  .profile {
    width: 45%;
  }
}