.section-2 {
  display: flex;
  padding: 0 10%;
  flex-flow: wrap;
  background:
          linear-gradient(
            rgba(234, 170, 0, 0.6),
            rgba(234, 170, 0, 0.6)
          ),
          url('https://placeimg.com/2000/800/building');

  .h-form {
    width: 100%;
    order: 1;

    @include large {
      width: 50%;
      order: 2;
    }
  }

  .cost-calc {
    width: 100%;
    padding: 2em;
    background: $white;
    order: 2;

    h2 {
      @extend .u-wvu-blue;
    }

    @include large {
      width: 50%;
      order: 1;
    }
  }
}

.section-3 {
}

.section-4 {
  //width: 75em;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2em 0;
  flex-flow: wrap;

  .profile {
    width: 80%;
    margin: 0 auto 1.5em;

    @include large {
      width: 45%;
    }
  }
}