@mixin svg-common {
  background: url("svg/sprite.css.svg") no-repeat;
}

@mixin sprite-caret-right-solid {
  @include svg-common;

  background-position: 0 0;
}

.sprite-caret-right-solid {
  @include sprite-caret-right-solid;
}

@mixin sprite-check-circle-light {
  @include svg-common;

  background-position: 21.358333333333334% 0;
}

.sprite-check-circle-light {
  @include sprite-check-circle-light;
}

@mixin sprite-facebook-f-brands {
  @include svg-common;

  background-position: 47.63887797595663% 0;
}

.sprite-facebook-f-brands {
  @include sprite-facebook-f-brands;
}

@mixin sprite-file-edit-light {
  @include svg-common;

  background-position: 0 50%;
}

.sprite-file-edit-light {
  @include sprite-file-edit-light;
}

@mixin sprite-info-circle-light {
  @include svg-common;

  background-position: 26.041666666666668% 50%;
}

.sprite-info-circle-light {
  @include sprite-info-circle-light;
}

@mixin sprite-menu {
  @include svg-common;

  background-position: 72.33729021694637% 0;
}

.sprite-menu {
  @include sprite-menu;
}

@mixin sprite-play-solid {
  @include svg-common;

  background-position: 0 100%;
}

.sprite-play-solid {
  @include sprite-play-solid;
}

@mixin sprite-search {
  @include svg-common;

  background-position: 27.608333333333338% 100%;
}

.sprite-search {
  @include sprite-search;
}

@mixin sprite-twitter-brands {
  @include svg-common;

  background-position: 56.775% 100%;
}

.sprite-twitter-brands {
  @include sprite-twitter-brands;
}

@mixin sprite-usd-square-light {
  @include svg-common;

  background-position: 99.4584393205875% 0;
}

.sprite-usd-square-light {
  @include sprite-usd-square-light;
}

