.wvu-footer {
  color: $white;

  .footer-upper {
    /// change to variable
    background-color: #112755;
  }

  .footer-upper-content {
    //@include wrapper(
    //  $v-padding: $space-quadruple
    //);

    //margin: 0 auto;
    //max-width: 80em;


    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    //h3,
    h4 {
      margin: 0;
    }
  }

  .footer-contact-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    padding-right: 2em;

    p {
      margin: 0;
    }

    .footer-contact-info-address {
      a {
        color: $pms-629-c;
        &:hover {
          color: $wvu-gold;
        }
      }
    }

    .footer-contact-info-phone-email {
      color: $wvu-gold;
      font-weight: bold;

      a {
        text-decoration: underline;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .menu-block .menu {
    @include list-reset
  }

  .footer-lower {
    /// change to variable
    background-color: #041f4a;
  }

  .wvu-footer__static_content {
    display: flex;
    flex-wrap: wrap;

    //@include wrapper(
    //  $v-padding: $space-quadruple
    //);

    //padding: 5em 0;
    //margin: 0 auto;
    //max-width: 80em;
    justify-content: space-between;
  }

  a {
    color: $wvu-gold;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

  .footer-menu-outer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-grow: 1;

    .menu-block {
      h2 {
        margin-bottom: 0;
        font-size: 1.1em;
      }

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer-menu-wrapper {

    //margin: 0 2em;
    //padding: 0 2em;


    .footer-menu {
      flex-direction: column;
      a {
        color: $wvu-gold;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .wvu-footer__static_content a {
    text-decoration: underline;
  }

  .wvu-footer__affirmative-action-links-and-statement {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .wvu-footer__affirmative-action-links {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;

    li {
      list-style: none;
      margin-right: 1em;
    }
  }

  .wvu-footer__affirmative-action-statement {
    p {
      margin: 0;
    }
  }

  .wvu-footer__social-media {
    display: flex;
    height: 100%;
    align-items: center;

    & > p {
      margin: 0 1em 0 0;
    }
  }

  .wvu-footer__social-media-icons {
    display: flex;
    align-self: flex-start;
    align-items: center;

    a {
      padding: 0.7em;
      margin-right: 1em;
      border-radius: 100%;
      display: flex;
      color: white;

      svg path {
        fill: $white;
      }

      &:hover {
        color: $wvu-gold;
      }
    }

    svg {
      height: 0.8em;
      width: 0.8em;
    }

    .facebook {
      background-color: $facebook-color;
    }

    .twitter {
      background-color: $twitter-color;
    }

    .youtube {
      background-color: $youtube-color;
    }
  }

  .footer-follow-us {
    a {
      //padding: 1em;
    }

    svg {
      height: 1.5em;
      width: 1.5em;
    }
  }
}
