.course {
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows: repeat(4, auto);
  border-bottom: 1px solid $pms-115-c;
  margin-bottom: 5px;
  //grid-template: title credits
  //               description description
  //               prerequisites prerequisites;

  &__credit {
    align-self: center;
  }

  &__description {
    grid-column: 1 / -1;
  }

  &__prerequisites {
    grid-column: 1 / -1;
  }
}
