<div class="course">
  <h4 class="course__title">{{ course_title }}</h4>
  {% if course_credits %}
    <div class="course__credit">Credits: {{ course_credits }}</div>
  {% endif %}
  {% if course_description %}
    <div class="course__description">
        {% include "@atoms/02-text/text/01-paragraph.twig" with {
        paragraph_content: course_description
      } %}
    </div>
  {% endif %}
  {% if course_prerequisites %}
    <div class="course_prerequisites">Prerequisites: {{ course_prerequisites }}</div>
  {% endif %}
</div>
