.search-results {
  position: relative;

  h3 {
    position: relative;

    &:before {
      background-color: #eaaa00;
      content: '';
      position: absolute;
      right: 0;
      left: -1.5em;
      height: 1.5em;
      top: 0em;
      width: 1em;
      opacity: 1;
      z-index: 1;
      -webkit-transform: skewX(146.25deg);
      transform: skewX(146.25deg);
    }
  }

  h4 {
    margin-bottom: 0;
  }

  .search--url {
    font-size: 0.8em;
    margin-top: 0;
  }

  .views-row {
    padding: 0 1em;

    &:nth-of-type(2n) {
      background: #f4f4f4;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
    }
  }
}