@import '../../00-base/global/01-colors/color-vars';
@import '../../00-base/mixins';

.hobsons {
  @include full-width;
}

.h-form {
  //box-shadow: 0 3px 7px 0 $gray;
  //width: 70em;
  padding: 2em 1em;
  background:
          linear-gradient(
                          rgba(234, 170, 0, 0.7),
                          rgba(234, 170, 0, 0.7)
          ),
          url('/themes/custom/wvuonline2018/images/BackgroundForProgramPageForm.jpg');
  background-size: cover;

  &--gold {
    @include wvu-gold-background;

    background: transparentize($wvu-gold, 0.2);
  }

  &--blue {
    @include wvu-blue-background;

    background: transparentize($wvu-blue, 0.2);
  }

  &__title {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    padding-bottom: 1.5em;
    @extend .u-wvu-blue;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1.5em;
    max-width: 40em;
    margin: 0 auto;
    justify-content: space-around;
    padding: 0 $space-double 0 0;

    @include small {
      grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }
  }

  &__label {
    @extend .visually-hidden;
  }

  &__field {
    //width: 45%;
    margin-bottom: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.5em;
    padding-left: 0.8em;
  }
  .form-item__select {
    //width: 49%;
  }
  .button {
    width: 100%;
    justify-self: center;
    grid-column: -1 / 1;
  }

}