@import '../../00-base/global/01-colors/color-vars';
@import '../../00-base/mixins';

.h-form {
  //box-shadow: 0 3px 7px 0 $gray;
  //width: 70em;
  //padding: 2em 1em;
  background:
          linear-gradient(
                          rgba(234, 170, 0, 0.6),
                          rgba(234, 170, 0, 0.6)
          ),
          url('/themes/custom/wvuonline2018/images/BackgroundForProgramPageForm.jpg');
  background-size: cover;

  &--gold {
    @include wvu-gold-background;

    background: transparentize($wvu-gold, 0.2);
  }

  &--blue {
    @include wvu-blue-background;

    background: transparentize($wvu-blue, 0.2);
  }

  &__title {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1.5em;
    @extend .u-wvu-blue;
  }

  form {
    display: flex;
    flex-flow: wrap row;
    max-width: 50em;
    margin: 0 auto;
    justify-content: space-around;
  }

  &__label {
    @extend .visually-hidden;
  }

  &__field {
    width: 45%;
    margin-bottom: 1em;
  }

}