.careers {
  padding: 2em 0;

  background: url('/themes/custom/wvuonline2018/images/background__black--1.0.0.svg') $black;
  background-size: cover;
  color: $white;

  @include full-width;

  .wrapper {
    @extend %container;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    @include heading-xl($font-size: 2.2em, $color:$wvu-gold);
  }

  &--list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(22em, 1fr));
    grid-column-gap: 3em;
    justify-items: center;
    padding-top: 1em;
    text-align: center;

    @media (max-width: ($small)) {
      grid-template-columns: 1fr;
    }
  }

  header {
    grid-column: -1 / 1;
    text-align: left;
  }

  .career {
    padding-bottom: 1em;
    &__title {
      @extend .u-wvu-gold;
    }

    &__title {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0.5em;
      @extend .u-wvu-gold;
    }
  }
}
