.careers {
  padding: 2em 0;
  text-align: center;
  background: linear-gradient(
                  rgba(44, 42, 41, 0.8),
                  rgba(44, 42, 41, 0.8)
  ),
  url('/themes/custom/wvuonline2018/images/background__black--1.0.0.svg');
  background-size: cover;
  color: $white;

  .wrapper {
    @extend %container;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    @extend .u-wvu-gold;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    padding-top: 1em;
  }
}

.career {
  text-align: left;
  padding-bottom: 1em;
  &__title {
    @extend .u-wvu-gold;
  }
}