{% set careers_base_class = careers_base_class|default('careers') %}
<div {{ bem(careers_base_class, (careers_modifiers), careers_blockname) }} >
  <div class="wrapper">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      heading_level: 2,
      heading: "Career Information",
      heading_blockname: "careers",
      heading_base_class: "title"
    } %}
    {{ content }}
  </div>
</div>
