
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- Drupal-specific usage -->
  <!-- example using symlinking -->
  <!-- cd web/themes/custom/wvuonline2018/components/js -->
  <!-- ln -s ../../../../../core/assets/vendor/domready/ready.min.js ./ -->
  <!-- ln -s ../../../../../core/misc/drupal.js ./ -->

  <script src="../../../../components/js/ready.min.js"></script>
  <script src="../../../../components/js/drupal.js"></script>
  <script src="../../../../components/js/jquery.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="../../../../components/js/van11y-accessible-tab-panel-aria.min.js"></script>
  <script src="https://wvu-online.github.io/wvuonline/pattern-lab/public/js/ready.min.js"></script>
  <script src="https://wvu-online.github.io/wvuonline/pattern-lab/public/js/drupal.js"></script>
  <script src="https://wvu-online.github.io/wvuonline/pattern-lab/public/js/jquery.js"></script>
  <script src="https://wvu-online.github.io/wvuonline/pattern-lab/public/js/van11y-accessible-tab-panel-aria.min.js"></script>
  <script src="https://wvu-online.github.io/wvuonline/dist/scripts-styleguide.js"></script>
  <script src="https://polygit.org/components/webcomponentsjs/webcomponents-lite.js"></script>
  <script>Drupal.attachBehaviors();</script>

  </body>
</html>
