$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
//$black: black;

// Primary
$wvu-blue: #002855;
$wvu-gold: #eaaa00;

// Neutral
$black: #2c2a29;
$pms-432-c: #333f48;
$pms-429-c: #a2aaad;
$pms-warm-gray-11: #6e6259;
$pms-warm-gray-7: #7c736a;
$pms-warm-gray-3: #bfb8af;

// Accent
$pms-286-c: #0033a0;
$pms-300-c: #005eb8;
$pms-629-c: #9bd3dd;
$pms-7554-c: #4b3d2a;
$pms-7557-c: #8f701e;
$pms-144-c: #ed8b00;
$pms-7476-c: #0d5257;
$pms-5625-c: #657a68;
$pms-558-c: #9abeaa;
$pms-180-c: #be3a34;
$pms-166-c: #cd4c08;
$pms-115-c: #fdda24;

// Named Colors

$wvu-limed-spruce: $pms-432-c;
$wvu-dune: $black;
$wvu-gray-chateau: $pms-429-c;
$wvu-pine-cone: $pms-warm-gray-11;
$wvu-schooner: $pms-warm-gray-7;
$wvu-tide: $pms-warm-gray-3;
$wvu-smalt: $pms-286-c;
$wvu-endeavor: $pms-300-c;
$wvu-morning-glory: $pms-629-c;
$wvu-judge-gray: $pms-7554-c;
$wvu-reef-gold: $pms-7557-c;
$wvu-tangerine: $pms-144-c;
$wvu-eden: $pms-7476-c;
$wvu-xanadu: $pms-5625-c;
$wvu-summer-green: $pms-558-c;
$wvu-well-read: $pms-180-c;
$wvu-trinidad: $pms-166-c;
$wvu-candlelight: $pms-115-c;
