// Menu Breakpoint
$main-menu-medium: 43em;

.region__navigation {
    background: $black;
  .wrapper {
    width: 100%;
    display: grid;
    grid-template-areas: "menu";
    grid-template-rows: 100%;
    //justify-content: space-between;
    justify-items: stretch;

    .menu-block {
      grid-column: -1 / 1;
      grid-row: -1 / 1;
      z-index: 5;

      &:last-of-type {
        z-index: 6;
        justify-self: end;
      }
    }
  }
}
// Nav
.main-nav {
  display: none;


  @include breakpoint($main-menu-medium) {
    display: block;
  }

  &--open {
    display: block;
  }
}

// UL
.main-menu {
  @include list-reset;
  @include wrapper;
  border-bottom: 1px solid;
  position: relative;
  z-index: 10;

  @include breakpoint($main-menu-medium) {
    border-bottom: none;
  }

  &--open {
    position: fixed;
    top: 134px;
    left: 0;
    right: 0;
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    background-color: $black;
  }
}

//
// Sub Navigation
//

// UL (Nested)
.main-menu--sub {
  border-bottom: none;
  height: 0;
  overflow: hidden;
  background-color: lighten($black, 0.2);
  width: 100%;

  @include breakpoint($main-menu-medium) {
    background-color: $black;
    display: none;
    height: auto;
    left: 0;
    overflow: visible;
    padding: $space 0;
    position: absolute;
    top: 58px;
    width: 315px;
    z-index: 1;
    font-size: 0.9rem;
    color: $white;
    //opacity: 0.6;
  }

  &:hover {
    @include breakpoint($main-menu-medium) {
      opacity: 1;
      background-color: $black;
      transition: all 0.2s;

      .main-menu__link--sub {
        color: $near-white;

        &.active,
        &:active,
        &:hover {
          color: $black;
          background-color: $white;
        }
      }
    }
  }

  // See main-menu.js
  &-open {
    height: auto;
  }
}

.main-menu--sub-2 {
  @include breakpoint($main-menu-medium) {
    display: none; // Never shown on large screens
  }
}
