// A
.main-menu__link {
  color: $white;
  display: block;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: $space;
  text-decoration: none;
  //font-weight: bold;

  &--with-sub {
    width: 80%;
    &::after {
      color: $white;
      display: inline-block;
      content: ">";
      transition: transform 0.4s;
      padding-left: 2px;
    }
  }

  @include breakpoint($main-menu-medium) {
    border-bottom: none;
    color: $white;
    display: inline-block;
    font-size: 1.1rem;
    padding: $space;
    text-transform: none;
    position: relative;
    width: auto;

    &.active,
    &:active,
    &:hover {
      color: $gray-lighter;
    }


    &--sub::after {
      display: none;
    }

    &:hover {
      color: $gray-light;

      &::after {
        color: $gray-light;
      }
    }
  }
}

//
// Sub Navigation Links
//
// A (Nested)
.main-menu__link--sub {
  color: $gray-dark;
  padding-left: $space-triple;
  font-weight: normal;

  @include breakpoint($main-menu-medium) {
    color: $gray-light;
    display: block;
    padding: $space-one-third $space;
  }
}

.main-menu--sub-2 {
  background-color: $gray-lightest;
}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
