{% set header_base_class = header_base_class|default('wvu-masthead') %}
<header {{ bem(header_base_class, (header_modifiers), header_blockname) }} >
  <div class="flex-container">
    {#{% include "@molecules/flying-wv/flying-wv.twig" %}#}
    {{ content }}
  </div>
</header>


{#<header class="header">#}
  {#<div class="navigation">#}
    {#{{ content }}#}
  {#</div>#}
{#</header>#}
